body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-section {display: flex; background-color: black;}
.header-section nav{
      display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
}
.header-section nav a{
          color: white;
          text-decoration: none;
}

.container{
  display: flex;
  justify-content: space-between;
}
.wrapper{
      display: flex;
        background-color: #FBFBFB;
        width: 280px;
        margin-bottom: 39px;
        align-items: center;
        padding: 30px;
}
.container .card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper img{
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.icon{
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon img{
  padding: 20px;
}
.charts .threechart {
  display: flex;
}
.name{
  margin-top: 100px;
}
.name .title {
font-size: 48px;
font-weight: 500;
}
.name .text{
  margin-top: 15px;
  margin-bottom: 77px;
}
.name .red-text{
  color: red;
}
.wrapper .txt{
  font-size: 14px;
}

.wrapper .wrapper-value h2, .txt{
  margin: 0;
}
.infouser{
  margin-top: 214px;
}
